<div {% render 'section-properties' %}>
<button class="accordion-faq accordion-group">{{ section.settings.title }}</button>
    <div class="panel">
        {%- for item in section.blocks -%}
            <button class="accordion-faq accordion-single">{{ item.settings.question }}</button>
            <div class="panel">{{ item.settings.answer }}</div>
        {%- endfor -%}
    </div>
</div>
{% schema %}
{
    "name": "FAQ Kategorie",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Kategorientitel"
        }
    ],
    "blocks": [
        {
            "type": "faq_item",
            "name": "Frage/Antwort",
            "settings": [
                {
                    "type": "text",
                    "id": "question",
                    "label": "Frage"
                },
                {
                    "type": "richtext",
                    "id": "answer",
                    "label": "Antwort"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "FAQ Kategorie"
        }
    ]
}
{% endschema %}