/*.header{
  padding-top: 2rem;
  padding-bottom: 1rem;
}*/

.header__main-nav a{
    font-weight:normal;
  text-transform:uppercase;
  font-weight:100;
  color:#21292f;
  letter-spacing: 0.1em !important;
}

/*
@media screen and (min-width: 700px){
  .header__logo-image {
    margin-top: -3.5rem;
  }
}*/

