/*.header{
  padding-top: 2rem;
  padding-bottom: 1rem;
}
*/

.header__main-nav a{
  font-weight:400;
  color:#21292f;
  letter-spacing: 0.6px !important;
}

/*
@media screen and (min-width: 700px){
  .header__logo-image {
    margin-top: -3.5rem;
  }
}
*/

.subhead {
  
}