/*.header{
  padding-top: 2rem;
  padding-bottom: 1rem;
}
*/

.header__main-nav a{
  font-weight:400;
  color:#21292f;
  letter-spacing: 0.6px !important;
}

/*
@media screen and (min-width: 700px){
  .header__logo-image {
    margin-top: -3.5rem;
  }
}
*/

.subhead {
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #c0a468;
  font-weight: 500;
}


.announcement-bar {
  padding-block-start:0;
  padding-block-end: 0;
  font-weight:100;
  text-transform: uppercase;
}

@media screen and (min-width: 700px) {
  .announcement-bar {
    padding-block-start: var(0);
    padding-block-end: var(0);
  }
}

#announcement-bar .bold {
    font-size: var(--text-base);
    line-height: 1.6;
  font-weight:100;
}


#announcement-bar .text-base {
    font-size: 0.9rem;
    line-height: 1.65;
    font-weight: 100;
    letter-spacing: 0.05ch;
  
}

.header__wrapper {
    padding: 42px max(var(--container-gutter),50% - var(--container-max-width) / 2) 21px;
  border-bottom: 1px solid #dfddd9;
  align-items:baseline;
}