.field {
    position: relative;
    width: 100%;
    display: flex;
}

.header-text {
  padding-bottom:10px;
}

.search__input.field__input {
    padding-right: 5rem;
}
.field__input, .customer .field input {
    flex-grow: 1;
    text-align: left;
    padding: 1.5rem;
}
.field__input, .select__select, .customer .field input, .customer select {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0.1rem solid black;
    border-radius: 0;
    color: rgb(var(--color-foreground));
    width: 100%;
    box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground),.55);
    height: 2.5rem;
    box-sizing: border-box;
    transition: box-shadow var(--duration-short) ease;
}

.field__label, .customer .field label {
    left: 1.5rem;
    top: 1rem;
    margin-bottom: 0;
    pointer-events: none;
    position: absolute;
    transition: top var(--duration-short) ease,font-size var(--duration-short) ease;
    color: rgba(var(--color-foreground),.75);
    letter-spacing: .1rem;
    line-height: 1.5;
}

.field__button {
    align-items: center;
    background-color: transparent;
    border: 0;
    color: currentColor;
    cursor: pointer;
    display: flex;
    height: 4.4rem;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 4.4rem;
}

.flex-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.search-bar {
    width: 100%;
}
.accordion {
    box-sizing: border-box;
    font-family: var(--font-body-family);
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.accordion-group {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}
.accordion.active {
    background-color: #ccc;
}
.accordion::after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.accordion-group::after {
    font-size: 15px;
    margin-top: 3px;
}
.accordion.active::after {
    content: '\2796';
}
.panel {
    background-color: white;
    display: none;
    overflow: hidden;
}
.sub-panel {
  padding: 0 20px;
}
.accordion-single ~ .panel {
    margin-top: 10px;
    margin-bottom: 10px;
}
.flex-col-lg-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 10px;
}
.flex-col-lg-row .search-bar,
.flex-col-lg-row .button {
    width: 100%;
}
.flex-col-lg-row .button {
    margin-bottom: 20px;
    flex-shrink: 0;
}
@media screen and (min-width: 768px) {
    .search-bar {
        width: unset;
    }
    .flex-row {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
@media screen and (min-width: 1000px) {
    .search-bar {
        max-width: 500px;
    }
    .flex-col-lg-row {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }
    .flex-col-lg-row .button {
        width: unset;
        margin-top: -5px;
        margin-bottom: 0;
    }
}