/* Font Management für das komplette Theme. Ersetzt das Font Management in theme.css und css-variables.liquid */

  :root {
    
    /* Definition der Tchibo Schriftarten */ 
    --tchibo-font-main: Interstate, 'Trebuchet MS';
    --tchibo-font-alternate: Garamond, Serif;

    /* Schriftgroessen Definition Headings */
    --display-1-fz: clamp(1.06rem, calc(0.98rem + 0.43vw), 1.25rem);
    --display-2-fz: clamp(1.28rem, calc(1.14rem + 0.65vw), 1.56rem);
    --display-3-fz: clamp(1.53rem, calc(1.34rem + 0.96vw), 1.95rem);
    --display-4-fz: clamp(1.84rem, calc(1.56rem + 1.38vw), 2.44rem);
    --display-5-fz: clamp(2.20rem, calc(1.82rem + 1.93vw), 3.05rem);

    /* Schriftgroessen Definition Body */
    --body-fz: clamp(0.88rem, calc(0.82rem + 0.28vw), 1.00rem);
    --footnote-fz: clamp(0.75rem, calc(0.72rem + 0.14vw), 0.81rem);
    --handwritten-fz: clamp(1.13rem, calc(1.07rem + 0.28vw), 1.25rem);
    --overline-fz: clamp(0.63rem, calc(0.57rem + 0.28vw), 0.75rem);
  
  }

/* Definitionen Heading Schriften */
.display-1 {
  font-size: var(--display-1-fz);
  font-family: var(--tchibo-font-main);
  letter-spacing: .6px;
}

.display-1-light {
  font-size: var(--display-1-fz);
  font-family: var(--tchibo-font-main);
  letter-spacing: .6px;
}

.display-1-secondary {
  font-size: var(--display-1-fz);
  font-family: var(--tchibo-font-alternate);
  letter-spacing: .8px;
}

.display-2 {
  font-size: var(--display-2-fz);
  font-family: var(--tchibo-font-main);
  letter-spacing: .7px;
}

.display-2-regular {
  font-size: var(--display-2-fz);
  font-family: var(--tchibo-font-main);
  letter-spacing: .7px;
}

.display-2-secondary {
  font-size: var(--display-2-fz);
  font-family: var(--tchibo-font-alternate);
  letter-spacing: 1.4px;
}

.display-3 {
  font-size: var(--display-3-fz);
  font-family: var(--tchibo-font-main);
  letter-spacing: .9px;
}

.display-3-secondary {
  font-size: var(--display-3-fz);
  font-family: var(--tchibo-font-alternate);
  letter-spacing: 1.8px;
}

.display-4 {
  font-size: var(--display-4-fz);
  font-family: var(--tchibo-font-main);
  letter-spacing: 1px;
}

.display-4-secondary {
  font-size: var(--display-4-fz);
  font-family: var(--tchibo-font-alternate);
  letter-spacing: 2.3px;
}

.display-5 {
  font-size: var(--display-5-fz);
  font-family: var(--tchibo-font-main);
  letter-spacing: 1.2px;
}

.display-5-secondary {
  font-size: var(--display-5-fz);
  font-family: var(--tchibo-font-alternate);
  letter-spacing: 3.2px;
}